<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <div class="header-fields">
        <div class="flexrow">
          <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
          <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
      </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attribute">Attributes</a>
        <a class="item" data-tab="skill">Skills</a>
        <a class="item" data-tab="fight">Fight</a>
        <a class="item" data-tab="features">Features</a>
        <a class="item" data-tab="equipment">Equipment</a>
        <a class="item" data-tab="researchtrade">Study&Trade</a>        
        <a class="item" data-tab="biodata">Biography</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Carac Tab --}}
        <div class="tab items" data-group="primary" data-tab="attribute">
          <span><a class="lock-unlock-sheet"><img class="small-button-container" 
            src="systems/fvtt-fragged-kingdom/images/icons/{{#if editScore}}unlocked.svg{{else}}locked.svg{{/if}}" alt="Unlocked/Locked"
            >{{#if editScore}}Unlocked{{else}}Locked{{/if}}</a>
          </span>
          <div class="grid grid-2col">
            <div class="">
              
              <span class="generic-label"><h3>Attributes (current/max)</h3></span>
              <ul>
                {{#each data.attributes as |attr key|}}
                <li class="item flexrow list-item" data-attr-key="{{key}}" data-item-id="{{attr.traitId}}">
                  <span class="stat-label flexrow" name="{{key}}"><a class="carac-roll">{{attr.label}}</a></span>
                  <select class="carac-base flexrow" type="text" name="data.attributes.{{key}}.current" value="{{attr.current}}" data-dtype="Number" {{#unless @root.editScore}}disabled{{/unless}}>
                    {{#select attr.current}}
                    <option value="-5">-5</option>
                    <option value="-4">-4</option>
                    <option value="-3">-3</option>
                    <option value="-2">-2</option>
                    <option value="-1">-1</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    {{/select}}
                  </select> 
                  &nbsp;/&nbsp;
                  <select class="carac-base flexrow" type="text" name="data.attributes.{{key}}.value" value="{{attr.value}}" data-dtype="Number" {{#unless @root.editScore}}disabled{{/unless}}>
                    {{#select attr.value}}
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    {{/select}}
                  </select> 
                  <div class="item-controls">
                    {{#if (ne attr.traitId "")}}
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    {{/if}}
                  </div>
                </li>
                {{/each}}
              </ul>  

              <span class="generic-label"><h3>Willpower</h3></span>
              <ul>
                <li class="item flexrow list-item stack-left" data-attr-key="level" >
                  <span class="stat-label padd-right packed-left" name="level">Willpower</span>
                  <input type="text" class="input-numeric-short" name="data.willpower.current" value="{{data.willpower.current}}" data-dtype="Number" {{#unless @root.editScore}}disabled{{/unless}}/>
                  <span class="stat-label padd-right packed-left" name="level">Max : {{data.willpower.total}}</span>
                </li>
              </ul>

              <span class="generic-label"><h3>Level</h3></span>
              <ul>
                <li class="item flexrow list-item stack-left" data-attr-key="level" data-item-id="{{data.level.traitId}}">
                  <span class="stat-label padd-right packed-left" name="level">Level</span>
                  <input type="text" class="input-numeric-short" name="data.level.value" value="{{data.level.value}}" data-dtype="Number" {{#unless @root.editScore}}disabled{{/unless}}/>
                  <div class="item-controls">
                    {{#if (ne data.level.traitId "")}}
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    {{/if}}
                  </div>                  
                </li>
              </ul>

            </div>

            <div class="">

              <span class="generic-label"><h3>Resources</h3></span>
              <ul>
                <li class="item flexrow list-item stack-left" data-attr-key="fate" data-item-id="{{data.resources.traitId}}">
                  <span class="stat-label packed-left" name="level">Current :</span>
                  <input type="text" class="input-numeric-short" name="data.resources.value" value="{{data.resources.value}}" data-dtype="Number"/>
                  <span class="stat-label padd-left packed-left " name="level">Alloted :</span>                
                  <input type="text" class="input-numeric-short" name="data.resources.alloted" value="{{data.resources.alloted}}" data-dtype="Number"/>
                </li>                  
                <li class="item flexrow list-item stack-left" data-attr-key="fate" data-item-id="{{data.resources.traitId}}">
                  <span class="stat-label packed-left" name="level ">Bonus :</span>
                  <input type="text" class="input-numeric-short" name="data.resources.bonus" value="{{data.resources.bonus}}" data-dtype="Number"/>
                  <span class="stat-label padd-left packed-left" name="level">Max :{{data.resources.total}}</span>
                  <div class="item-controls"> 
                    {{#if (ne data.resources.traitId "")}}
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    {{/if}}
                  </div>
                </li>
              </ul>

              <span class="generic-label"><h3>Renown</h3></span>
              <ul>
                <li class="item flexrow list-item stack-left" data-attr-key="fate" data-item-id="{{data.renown.traitId}}">
                  <span class="stat-label packed-left" name="level">Current :</span>
                  <input type="text" class="input-numeric-short" name="data.renown.value" value="{{data.renown.value}}" data-dtype="Number"/>
                  <span class="stat-label padd-left  packed-left" name="level">Alloted :</span>
                  <input type="text" class="input-numeric-short" name="data.renown.alloted" value="{{data.renown.alloted}}" data-dtype="Number"/>
                </li>
                <li class="item flexrow list-item stack-left" data-attr-key="fate" data-item-id="{{data.renown.traitId}}">                
                  <span class="stat-label packed-left" name="level">Bonus :</span>
                  <input type="text" class="input-numeric-short" name="data.renown.bonus" value="{{data.renown.bonus}}" data-dtype="Number"/>
                  <span class="stat-label padd-left  packed-left" name="level">Max :{{data.renown.total}}</span>
                  <div class="item-controls">
                    {{#if (ne data.renown.traitId "")}}
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    {{/if}}
                  </div>
                </li>
              </ul>

              <span class="generic-label"><h3>Spare Time Points</h3></span>
              <ul>
                <li class="item flexrow list-item stack-left" data-item-id="{{lang.id}}">
                  <span class="stat-label padd-right packed-left">Spare Time Points : </span>
                  <input type="text" class="input-numeric-short" name="data.sparetimepoints.value" value="{{data.sparetimepoints.value}}" data-dtype="Number"/>
                </li>                  
              </ul>

              <span class="generic-label"><h3>Languages</h3></span>
              <ul>
                {{#each languages as |lang key|}}
                <li class="item flexrow list-item  stack-left" data-item-id="{{lang.id}}">
                  <img class="sheet-competence-img" src="{{lang.img}}"/>
                  <span class="competence-label">{{lang.name}}</span>
                  <div class="item-controls">
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>
                </li>                  
                {{/each}}
              </ul> 

            </div>
          
          </div>

        </div>
        
        {{!-- Skills Tab --}}
        <div class="tab skill" data-group="primary" data-tab="skill">
          <div class="flexrow">
            <span><a class="lock-unlock-sheet"><img class="small-button-container" 
              src="systems/fvtt-fragged-kingdom/images/icons/{{#if editScore}}unlocked.svg{{else}}locked.svg{{/if}}" alt="Unlocked/Locked"
              >{{#if editScore}}Unlocked{{else}}Locked{{/if}}</a>
            </span>
          </div>
          <div class="grid grid-2col">
            <div>
              <h3>Everyday Skills</h3>
              <ul class="item-list alterne-list">
                
                {{> "systems/fvtt-fragged-kingdom/templates/partial-skill-list-header.html"}}
                 
                {{#each sortedSkills.everyday as |skill key|}}
                  <li class="item flexrow list-item" data-item-id="{{skill.id}}">
                    <img class="sheet-competence-img" src="{{skill.img}}"/>
                    <span class="competence-label"><a>{{skill.name}}</a></span>
                    <span class="specialisation-label">{{skill.data.data.trainedValue}}</span>
                    <span class="specialisation-label">{{skill.data.data.bonus}}</span>
                    <span class="specialisation-label">{{skill.data.data.total}}</span>
                    
                    {{#if skill.data.data.isTrait}}
                    <span class="specialisation-label tooltip">Trait
                      <div class="tooltiptext">
                        {{#each skill.data.data.traits as |trait idx|}}
                        <span>{{trait.name}}</span>
                        <div>{{{trait.data.description}}}
                        </div>
                        {{/each}}
                      </div>
                    </span>
                    {{else}}
                    <span class="specialisation-label tooltip">-</span>
                    {{/if}}

                    <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>                  
                {{/each}}
              </ul>

              <h3>Personal Combat Skills</h3>
              <ul class="item-list alterne-list">

                {{> "systems/fvtt-fragged-kingdom/templates/partial-skill-list-header.html"}}

                {{#each sortedSkills.combat as |skill key|}}
                  <li class="item flexrow list-item" data-item-id="{{skill.id}}">
                    <img class="sheet-competence-img" src="{{skill.img}}"/>
                    <span class="competence-label"><a>{{skill.name}}</a></span>
                    <span class="specialisation-label">{{skill.data.data.trainedValue}}</span>
                    <span class="specialisation-label">{{skill.data.data.bonus}}</span>
                    <span class="specialisation-label">{{skill.data.data.total}}</span>
                    {{#if skill.data.data.isTrait}}
                    <span class="specialisation-label tooltip">Trait
                      <div class="tooltiptext">
                        {{#each skill.data.data.traits as |trait idx|}}
                        <span>{{trait.name}}</span>
                        <div>{{{trait.data.description}}}
                        </div>
                        {{/each}}
                      </div>
                    </span>
                    {{else}}
                    <span class="specialisation-label tooltip">-</span>
                    {{/if}}
                    <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>                  
                {{/each}}
              </ul>

            </div>

            <div>

              <h3>Education Skills</h3>
              <ul class="item-list alterne-list">

                {{> "systems/fvtt-fragged-kingdom/templates/partial-skill-list-header.html"}}

                {{#each sortedSkills.education as |skill key|}}
                  <li class="item flexrow list-item" data-item-id="{{skill.id}}">
                    <img class="sheet-competence-img" src="{{skill.img}}"/>
                    <span class="competence-label"><a>{{skill.name}}</a></span>
                    <span class="specialisation-label">{{skill.data.data.trainedValue}}</span>
                    <span class="specialisation-label">{{skill.data.data.bonus}}</span>
                    <span class="specialisation-label">{{skill.data.data.total}}</span>

                    {{#if skill.data.data.isTrait}}
                    <span class="specialisation-label tooltip">Trait
                      <div class="tooltiptext">
                        {{#each skill.data.data.traits as |trait idx|}}
                        <span>{{trait.name}}</span>
                        <div>{{{trait.data.description}}}
                        </div>
                        {{/each}}
                      </div>
                    </span>
                    {{else}}
                    <span class="specialisation-label tooltip">-</span>
                    {{/if}}

                    <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>                  
                {{/each}}
              </ul>

            </div>
          </div>
      </div>

      {{!-- Combat Tab --}}
      <div class="tab fight" data-group="primary" data-tab="fight">
        <div class="flexcol">
          
          <span class="generic-label"><h3>Momentum</h3></span>
          <ul>
            <li class="item flexrow list-item stack-left">
              <span class="stat-label padd-right packed-left">Current :</span>
              <input type="text" class="input-numeric-short" name="data.momentum.value" value="{{data.momentum.value}}" data-dtype="Number"/>
              <span class="stat-label padd-left packed-left">Bonus :</span>
              <input type="text" class="input-numeric-short"  name="data.momentum.bonus" value="{{data.momentum.bonus}}" data-dtype="Number"/>
              <span class="stat-label padd-left packed-left">Max : {{data.momentum.max}}</span>
            </li>
          </ul>

          <span class="generic-label"><h3>Endurance</h3></span>
          <ul>
            <li class="item flexrow list-item stack-left">
              <span class="stat-label padd-right packed-left">Current :</span>
              <input type="text" class="input-numeric-short" name="data.endurance.value" value="{{data.endurance.value}}" data-dtype="Number"/>
              <span class="stat-label padd-left packed-left">Bonus :</span>
              <input type="text" class="input-numeric-short"  name="data.endurance.bonus" value="{{data.endurance.bonus}}" data-dtype="Number"/>
              <span class="stat-label padd-left packed-left">Max : {{data.endurance.max}}</span>
            </li>
            <li class="item flexrow list-item stack-left">
              <span class="stat-label pad-right padd-left padd-right packed-left">Recovery</span>
              <span class="stat-label padd-left packed-left">Bonus :</span>
              <input type="text" class="input-numeric-short" name="data.recovery.bonus" value="{{data.recovery.bonus}}" data-dtype="Number"/>
              <span class="stat-label padd-left padd-right packed-left">Max&nbsp; &nbsp;:{{data.recovery.total}}</span>
            </li>
          </ul>

          <span class="generic-label"><h3>Defence</h3></span>
          <ul>
            <li class="item flexrow list-item stack-left">
              <span class="stat-label padd-right packed-left">Base : {{defenseBase}}</span>
              <span class="stat-label padd-right packed-left">Bonus :</span>
              <input type="text" class="input-numeric-short packed-left" name="data.defense.bonus" value="{{data.defense.bonus}}" data-dtype="Number"/>
              <span class="stat-label padd-left packed-left">CoverBonus :</span>
              <select class="stat-label padd-left packed-left" type="text" name="data.defense.cover" value="{{data.defense.cover}}" data-dtype="String">
                {{#select data.defense.cover}}
                <option value="nocover">No Cover</option>
                <option value="lightcover">Light Cover</option>
                <option value="heavycover">Heavy Cover</option>
                <option value="entrenchedcover">Entrenched Cover</option>
                {{/select}}
              </select> 
              <span class="stat-label padd-left packed-left">Total : {{data.defense.total}}</span>
            </li>

            <li class="item flexrow list-item stack-left">
              <span class="stat-label padd-right packed-left">vs Tackle</span>
              <span class="stat-label padd-left packed-left">Bonus : </span>
              <input type="text"  class="input-numeric-short padd-right" name="data.defense.vstacklebonus" value="{{data.defense.vstacklebonus}}" data-dtype="Number"/>
              <span class="stat-label padd-left padd-right packed-left">&nbsp;{{data.defense.vstackle}}</span>
            </li>
          </ul>

          <span class="generic-label"><h3>Armour</h3></span>
          <ul class="list-item">
            <li class="item flexrow list-item stack-left">
              <span class="stat-label packed-left">Body Armour Base : {{bodyArmourBase}}</span>
              <span class="stat-label padd-left packed-left">Bonus :</span>
              <input type="text" class="input-numeric-short padd-right" name="data.bodyarmour.bonus" value="{{data.bodyarmour.bonus}}" data-dtype="Number"/>
              <span class="stat-label padd-left packed-left">Total : {{data.bodyarmour.total}}</span>
              <span></span>
            </li>
            <li class="item flexrow list-item stack-left">
              <span class="stat-label packed-left">Head Armour Base : {{headArmourBase}}</span>
              <span class="stat-label padd-left packed-left">Bonus :</span>
              <input type="text" class="input-numeric-short padd-right" name="data.headarmour.bonus" value="{{data.headarmour.bonus}}" data-dtype="Number"/>
              <span class="stat-label padd-left packed-left">Total : {{data.headarmour.total}}</span>
              <span></span>
            </li>
            <li class="item flexrow list-item stack-left">
              <span class="stat-label packed-left">At 0 Endurance </span>
              <span class="stat-label padd-left packed-left">Bonus/Malus :</span>
              <input type="text" class="input-numeric-short padd-right" name="data.at0endurance.bonus" value="{{data.at0endurance.bonus}}" data-dtype="Number"/>
              <span></span>
            </li>
          </ul>

          <span class="generic-label"><h3>Weapons</h3></span>
          <ul class="stat-list alternate-list">
            {{#each weapons as |weapon key|}}
            <li class="item stat flexrow list-item" data-arme-id="{{weapon.id}}" data-item-id="{{weapon.id}}">
              <img class="sheet-competence-img" src="{{weapon.img}}"/>
              <span class="stat-label">{{weapon.name}}</span>
              <div class="item-controls">
                <a class="item-control item-equip" title="Worn">{{#if weapon.data.data.equipped}}<i class="fas fa-circle"></i>{{else}}<i class="fas fa-genderless"></i>{{/if}}</a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            <li class="item stat flexrow list-item stats-table" data-armure-id="{{weapon.id}}" data-item-id="{{weapon.id}}">
              {{#each weapon.data.data.weaponstats as |weaponstat statkey|}}
              {{#if weaponstat.deleted}}
              {{else}}
              <ul>
                <li class="item stat flexrow list-item" data-item-id="{{weapon.id}}" data-stat-id={{statkey}}><span class="stat-label weapon-label"><a name="{{weapon.name}}">Attack with {{weaponstat.name}}</a></span>
                </li>
                <li>{{> "systems/fvtt-fragged-kingdom/templates/weapon-stats-section.html" stats=weaponstat.data.statstotal isfinal=false header=true}}
                </li>
              </ul>
              {{/if}}                
              {{/each}}
            </li>
            {{/each}}                
          </ul>          

          <span class="generic-label"><h3>Companions/Mounts</h3></span>
          <ul>
            {{#each subActors as |subActor key|}}
            <li class="item stat flexrow list-item" data-actor-id="{{subActor._id}}">
              <img class="sheet-competence-img" src="{{subActor.img}}"/>
              <span class="stat-label npc-fight"><a name="{{subActor.name}}"><strong>{{subActor.name}}</strong></a></span>
              <div class="item-controls">
                <a class="item-control subactor-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control subactor-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>

              <ul>
                {{#each subActor.weapons as |weapon key|}}
                <li class="item stat flexrow list-item" data-subactor-id="{{subActor._id}}" data-item-id="{{weapon.id}}">
                  <img class="sheet-competence-img" src="{{weapon.img}}"/>
                  <span class="stat-label">{{weapon.name}}</span>
                </li>
                <li class="item stat flexrow list-item stats-table" data-subactor-id="{{subActor._id}}" data-item-id="{{weapon.id}}">
                  {{#each weapon.data.data.weaponstats as |weaponstat statkey|}}
                  {{#if weaponstat.deleted}}
                  {{else}}
                  <ul>
                    <li class="item stat flexrow list-item" data-subactor-id="{{subActor._id}}"  data-item-id="{{weapon.id}}" data-stat-id={{statkey}}>
                      <span class="stat-label subactor-weapon-label"><a name="{{weapon.name}}">Attack with {{weaponstat.name}}</a></span>
                    </li>
                    <li>
                      {{> "systems/fvtt-fragged-kingdom/templates/weapon-stats-section.html" stats=weaponstat.data.statstotal isfinal=false header=true}}
                    </li>
                  </ul>
                  {{/if}}                
                  {{/each}}
                </li>            
                {{/each}}                              
              </ul>          
            </ul>
          {{/each}}
          </ul>  

          <span class="generic-label"><h3>Outfits</h3></span>
          <ul class="item-list alternate-list">
            {{#each outfits as |outfit key|}}
            <li class="item stat flexrow list-item" data-armure-id="{{outfit.id}}" data-item-id="{{outfit.id}}">
              <img class="sheet-competence-img" src="{{outfit.img}}"/>
              <span class="stat-label outfit-label">{{outfit.name}}</span>
              <div class="item-controls">
                <a class="item-control item-equip" title="Worn">{{#if outfit.data.data.equipped}}<i class="fas fa-circle"></i>{{else}}<i class="fas fa-genderless"></i>{{/if}}</a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            <li class="item stat flexrow list-item stats-table" data-armure-id="{{outfit.id}}" data-item-id="{{outfit.id}}">
              {{> "systems/fvtt-fragged-kingdom/templates/weapon-stats-section.html" stats=outfit.data.data.statstotal isfinal=false header=true}}
            </li>
            {{/each}}
          </ul>

          <span class="generic-label"><h3>Utilities</h3></span>
          <ul class="item-list alternate-list">
            {{#each utilities as |utility key|}}
            <li class="item stat flexrow list-item" data-armure-id="{{utility.id}}" data-item-id="{{utility.id}}">
              <img class="sheet-competence-img" src="{{utility.img}}"/>
              <span class="stat-label outfit-label">{{utility.name}}</span>
              <div class="item-controls">
                <a class="item-control item-equip" title="Worn">{{#if utility.data.data.equipped}}<i class="fas fa-circle"></i>{{else}}<i class="fas fa-genderless"></i>{{/if}}</a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            <li class="item stat flexrow list-item stats-table" data-armure-id="{{outfit.id}}" data-item-id="{{outfit.id}}">
              {{> "systems/fvtt-fragged-kingdom/templates/weapon-stats-section.html" stats=utility.data.data.statstotal isfinal=false header=true}}
            </li>
            {{/each}}
          </ul>

        </div>
      </div>

      {{!-- Features Tab --}}
      <div class="tab features" data-group="primary" data-tab="features">
        <div class="flexcol">

          <span class="generic-label"><h3>Perks</h3></span>
          <ul>
            {{#each perks as |perk key|}}
            <li class="item flexrow list-item" data-item-id="{{perk.id}}">
              <img class="sheet-competence-img" src="{{perk.img}}"/>
              <span class="competence-label tooltip tooltip-dotted">{{perk.name}}
                <div class="tooltiptext ttt-ajustements">
                  <strong>Benefits</strong> : {{{perk.data.data.benefits}}}
                </div>
              </span>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>                  
            {{/each}}
          </ul>  

          <span class="generic-label"><h3>Complications</h3></span>
          <ul>
            {{#each complications as |complication key|}}
            <li class="item flexrow list-item" data-item-id="{{complication.id}}">
              <img class="sheet-competence-img" src="{{complication.img}}"/>
              <span class="competence-label tooltip tooltip-dotted">{{complication.name}}
                <div class="tooltiptext ttt-ajustements">
                  <strong>Disadvantages</strong> : {{{perk.data.data.disadvantages}}}
                </div>
              </span>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>                  
            {{/each}}
          </ul>  

          <span class="generic-label"><h3>Race & Backgrounds</h3></span>
          <ul>
            {{#each races as |race key|}}
            <li class="item flexrow list-item" data-item-id="{{race.id}}">
              <img class="sheet-competence-img" src="{{race.img}}"/>
              <span class="competence-label tooltip tooltip-dotted">{{race.name}}
                <div class="tooltiptext ttt-ajustements">
                  <strong>Benefits</strong> : {{{race.data.data.benefits}}}
                  <br><strong>Disadvantages</strong> : {{{race.data.data.disadvantages}}}
                </div>
              </span>
              <span class="competence-label">Race</span>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>                  
            {{/each}}
            {{#each backgrounds as |background key|}}
            <li class="item flexrow list-item" data-item-id="{{background.id}}">
              <img class="sheet-competence-img" src="{{background.img}}"/>
              <span class="competence-label tooltip tooltip-dotted">{{background.name}}
                <div class="tooltiptext ttt-ajustements">
                  <strong>Benefits</strong> : {{{background.data.data.benefits}}}
                  <br><strong>Disadvantages</strong> : {{{background.data.data.disadvantages}}}
                </div>
              </span>
              <span class="competence-label">Background</span>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>                  
            {{/each}}
          </ul>  
          
          <span class="generic-label"><h3>Strong Hits</h3></span>
          <ul>
            {{#each strongHits as |stronghit key|}}
            <li class="item flexrow list-item" data-item-id="{{stronghit.id}}">
              <img class="sheet-competence-img" src="{{stronghit.img}}"/>
              <span class="competence-label tooltip tooltip-dotted">{{stronghit.name}}
                <div class="tooltiptext ttt-ajustements">
                  <strong>Description</strong> : {{{stronghit.data.data.description}}}
                </div>
              </span>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>                  
            {{/each}}
          </ul>  

          <span class="generic-label"><h3>Companions/Mounts</h3></span>
          <ul>
            {{#each subActors as |subActor key|}}
            <li class="item flexrow list-item" data-actor-id="{{subActor._id}}">
              <img class="sheet-competence-img" src="{{subActor.img}}"/>
              <span class="competence-label">{{subActor.name}}</span>
              <div class="item-controls">
                <a class="item-control subactor-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control subactor-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>                  
            {{/each}}
          </ul>  
          
          <span class="generic-label"><h3>Character Traits List</h3></span>
          <ul>
            {{#each traits as |trait key|}}
            <li class="item flexrow list-item" data-item-id="{{trait.id}}">
              <img class="sheet-competence-img" src="{{trait.img}}"/>
              <span class="competence-label tooltip tooltip-dotted">{{trait.name}}
                <div class="tooltiptext ttt-ajustements">
                  <strong>Benefits</strong> : {{{trait.data.data.benefits}}}
                  <br><strong>Disadvantages</strong> : {{{trait.data.data.disadvantages}}}
                </div>
              </span>
              <span class="competence-label">{{trait.data.data.type}}</span>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>                  
            {{/each}}
          </ul> 

          <span class="generic-label"><h3>Skills Traits List</h3></span>
          <ul>
            {{#each skillsTraits as |trait key|}}
            <li class="item flexrow list-item" data-item-id="{{trait._id}}">
              <img class="sheet-competence-img" src="{{trait.img}}"/>
              <span class="competence-label tooltip tooltip-dotted">{{trait.name}}
                <div class="tooltiptext ttt-ajustements">
                  <strong>Benefits</strong> : {{{trait.data.data.benefits}}}
                  <br><strong>Disadvantages</strong> : {{{trait.data.data.disadvantages}}}
                </div>
              </span>
              <span class="competence-label">{{trait.associatedSkill}}</span>
              <div class="item-controls">
                <a class="item-control skill-trait-view" title="Edit Item"><i class="fas fa-edit"></i></a>
             </div>
            </li>                  
            {{/each}}
          </ul>  

        </div>
      </div>

      {{!-- Equipement Tab --}}
      <div class="tab equipment" data-group="primary" data-tab="equipment">
        <div><h4>Slots</h4></div>
        <ul class="item-list alternate-list">
          <li class="item flexrow list-item stack-left">
            <span class="equipement-label packed-left padd-right">Base : {{equipmentsSlotsBase}}</span>
            <span class="equipement-label packed-left padd-right padd-left">Bonus : </span>
            <input type="text" class="input-numeric-short padd-right"  name="data.equipmentslots.bonus" value="{{data.equipmentslots.bonus}}" data-dtype="Number"/>
            <span class="equipement-label packed-left padd-right padd-left">Total : {{equipmentsSlotsTotal}}</span>
            <span class="equipement-label packed-left padd-right padd-left">Current : </span>
            <input type="text" class="input-numeric-short padd-right" name="data.equipmentslots.current" value="{{data.equipmentslots.current}}" data-dtype="Number"/>
          </li>
          </ul>

          <div><h4>Equipment</h4></div>
          <ul class="item-list alternate-list">
            <li class="item flexrow list-item">
              <span class="equipement-label">Name</span>
              <span class="equipement-label">Type</span>
              <div class="item-controls">
                <span class="equipement-label">&nbsp;</span>
                <span class="equipement-label">&nbsp;</span>
                <span class="equipement-label">&nbsp;</span>
              </div>
            </li>
            {{#each equipments as |equip key|}}
            <li class="item flexrow list-item" data-item-id="{{equip.id}}">
              <img class="sheet-competence-img" src="{{equip.img}}"/>
              <span class="equipement-label">{{equip.name}}</span>
              <span class="equipement-label">{{equip.type}}</span>
              <div class="item-controls">
                <a class="item-control item-equip" title="Worn">{{#if equip.data.data.equipped}}<i class="fas fa-circle"></i>{{else}}<i class="fas fa-genderless"></i>{{/if}}</a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>                  
          {{/each}}
          </ul>
      </div>

      {{!-- Reaserch/Trade Tab --}}
      <div class="tab researchtrade" data-group="primary" data-tab="researchtrade">
        
        <span class="generic-label"><h3>Study&Knowledge</h3></span>
        <ul>
          <li class="item flexrow list-item stack-left" data-attr-key="fate" data-item-id="{{data.renown.traitId}}">
            <span class="stat-label packed-left" name="level">Study :</span>
            <input type="text" class="input-numeric-short" name="data.study.value" value="{{data.study.value}}" data-dtype="Number"/>
            <span class="stat-label padd-left  packed-left" name="level"> - Knowledge :</span>
            <input type="text" class="input-numeric-short" name="data.knowledge.value" value="{{data.knowledge.value}}" data-dtype="Number"/>
          </li>
        </ul>

        <div><h4>Trade goods</h4></div>
          <ul class="item-list alternate-list">
            <li class="item flexrow list-item">
              <span class="equipement-label">Name</span>
              <span class="equipement-label">Tradebox</span>
              <span class="equipement-label">Cargo Space</span>
              <div class="item-controls">
                <span class="equipement-label">&nbsp;</span>
                <span class="equipement-label">&nbsp;</span>
              </div>
            </li>
            {{#each tradeGoods as |good key|}}
            <li class="item flexrow list-item" data-item-id="{{good.id}}">
              <img class="sheet-competence-img" src="{{good.img}}"/>
              <span class="equipement-label">{{good.name}}</span>
              <span class="equipement-label">{{good.data.data.tradebox}}</span>
              <span class="equipement-label">{{good.cargoSpace}}</span>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>                  
          {{/each}}
          </ul>

        <div><h4>Study</h4></div>
          <ul class="item-list alternate-list">
            <li class="item flexrow list-item">
              <span class="equipement-label">Name</span>
              <span class="equipement-label">Research Unit</span>
              <div class="item-controls">
                <span class="equipement-label">&nbsp;</span>
                <span class="equipement-label">&nbsp;</span>
              </div>
            </li>
            {{#each researches as |research key|}}
            <li class="item flexrow list-item" data-item-id="{{research.id}}">
              <img class="sheet-competence-img" src="{{research.img}}"/>
              <span class="equipement-label">{{research.name}}</span>
              <span class="equipement-label">{{research.data.data.researchunit}}</span>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>                  
          {{/each}}
          </ul>

      </div>

      {{!-- Biography Tab --}}
      <div class="tab biodata" data-group="primary" data-tab="biodata">        

        <article class="flexcol">

          <span class="generic-label"><h3>Race</h3></span>
          <ul>
            {{#each races as |race key|}}
            <li class="item flexrow list-item" data-item-id="{{race.id}}">
              <img class="sheet-competence-img" src="{{race.img}}"/>
              <span class="competence-label">{{race.name}}</span>
              <div class="item-controls">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
              </div>
            </li>                  
            {{/each}}
          </ul>  

          <hr>
          <h3>Biography : </h3>
          <div class="form-group editor">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
          </div>
          <hr>
          <h3>Notes : </h3>
          <div class="form-group editor">
            {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
          </div>
          <hr>
          {{>"systems/fvtt-fragged-kingdom/templates/editor-notes-gm.html"}}
        </article>
      </div>

    </section>
</form>

