
<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab" data-group="primary">
          <ul>
            <li class="flexrow"><label class="item-sheet-label">Type</label>
              <select class="competence-base flexrow" type="text" name="data.type" value="{{data.type}}" data-dtype="String">
                {{#select data.type}}
                <option value="level">Level</option>
                <option value="willpower">Willpower</option>
                <option value="resources">Resources</option>
                <option value="renown">Renown</option>
                <option value="attribute">Attributes</option>
                <option value="skill">Skill</option>
                {{/select}}
              </select> 
            </li>
            <li class="flexrow"><label class="item-sheet-label">Sub-Type</label>
              <select class="competence-base flexrow" type="text" name="data.subtype" value="{{data.subtype}}" data-dtype="String">
                {{#select data.subtype}}
                <option value="level">Level</option>
                <option value="willpower">Willpower</option>
                <option value="resources">Resources</option>
                <option value="renown">Renown</option>
                <option value="strength">Strength</option>
                <option value="reflexes">Reflexes</option>
                <option value="movement">Movement</option>
                <option value="focus">Focus</option>
                <option value="intelligence">Intelligence</option>
                <option value="willpower">Willpower</option>
                <option value="everyday">Skill - Everyday</option>
                <option value="education">Skill - Education</option>
                <option value="combat">Skill - Combat</option>
                {{/select}}
              </select> 
            </li>
          </ul>
          <ul>
            <li class="flexrow"><label class="item-sheet-label">Requirements</label>
              <span class="small-editor item-text-long-line">
              {{editor content=data.requirements target="data.requirements" button=true owner=owner editable=editable}}
              </span>
            </li>
            <li class="flexrow"><label class="item-sheet-label">Benefits</label>
              <span class="small-editor item-text-long-line">
                {{editor content=data.benefits target="data.benefits" button=true owner=owner editable=editable}}
              </span>
            </li>
            <li class="flexrow"><label class="item-sheet-label">Disadvantages</label>
              <span class="small-editor item-text-long-line">
                {{editor content=data.disadvantages target="data.disadvantages" button=true owner=owner editable=editable}}
              </span>
            </li>
          </ul>
        </div>

    </section>
</form>
