
<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <ul>
        <li class="flexrow"><label class="generic-label">Type</label>
        <select class="competence-base flexrow" type="text" name="data.type" value="{{data.type}}" data-dtype="String">
          {{#select data.type}}
          <option value="minor">Minor</option>
          <option value="moderate">Moderate</option>
          <option value="major">Major</option>
          {{/select}}
        </select> 
        </li>
        <li class="flexrow"><label class="generic-label">Renown level</label>
          <input type="text" name="data.influence" value="{{data.influence}}" data-dtype="String"/>
        </li>
        <li class="flexrow"><label class="item-sheet-label">Benefits</label>
          <span class="small-editor item-text-long-line">
            {{editor content=data.benefits target="data.benefits" button=true owner=owner editable=editable}}
          </span>
        </li>
        <li class="flexrow"><label class="item-sheet-label">Disadvantages</label>
          <span class="small-editor item-text-long-line">
            {{editor content=data.disadvantages target="data.disadvantages" button=true owner=owner editable=editable}}
          </span>
        </li>
      </ul>

    </section>
</form>
