<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab" data-group="primary">

          <h3> Keywords</h3>
          <div class="grid grid-3col">
            {{#each keywords as |keywordArray key|}}
            <div>
              <ul>
                {{#each keywordArray as |keyword key|}}
                <li class="item-list item flexrow stack-left">
                  <input type="checkbox" name="data.keywords.{{keyword.key}}.flag" {{checked keyword.flag}}/>
                  <label class="generic-label keyword-label packed-left">{{keyword.label}}</label>
                  {{#if keyword.X}}
                    <input type="text" class="input-numeric-short padd-right" name="data.keywords.{{keyword.key}}.X" value="{{keyword.X}}" data-dtype="String"/>
                  {{/if}}
                  {{#if keyword.Y}}
                    <input type="text" class="input-numeric-short padd-right" name="data.keywords.{{keyword.key}}.Y" value="{{keyword.Y}}" data-dtype="String"/>
                  {{/if}}
                </li>
                {{/each}}
              </ul>
            </div>
            {{/each}}
          </div>
          <label class="generic-label">Acquire</label>
          <input type="text" class="" name="data.acquire" value="{{data.acquire}}" data-dtype="String"/>
          <label class="generic-label">Resources</label>
          <input type="text" class="" name="data.resources" value="{{data.resources}}" data-dtype="Number"/>
          <label class="generic-label">Requirements</label>
          <span class="small-editor item-text-long-line">
            {{editor content=data.requirements target="data.requirements" button=true owner=owner editable=editable}}
          </span>

          <label class="generic-label">Description</label>
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>
