<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab" data-group="primary">

            <h3>Weapon Type</h3>
            <select class="competence-base flexrow" type="text" name="data.weapontype" value="{{data.weapontype}}" data-dtype="String">
                {{#select data.weapontype}}
                <option value="all">All</option>
                <option value="alchemy">Alchemy</option>
                <option value="allpower">All-Power</option>
                <option value="arrow">Arrow</option>
                <option value="spirit">Spirit</option>
                <option value="axe">Axe</option>
                <option value="blade">Blade</option>
                <option value="hammer">Hammer</option>
                <option value="polearm">Polearm</option>
                <option value="shield">shield</option>
                <option value="bow">Bow</option>
                <option value="potion">Potion</option>
                <option value="thrown">Thrown</option>
                <option value="tackle">Tackle</option>
                <option value="wyld">Wyld</option>
                <option value="limited">Limited</option>
            {{/select}}
            </select> 
          
          {{> "systems/fvtt-fragged-kingdom/templates/weapon-stats-section.html" stats=data.stats isbase=true title="Modification Stats" header=true}}

          <label class="generic-label">Description</label>
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>
