<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab" data-group="primary">
          <ul>
            <li class="flexrow"><label class="generic-label">Type</label>
              <select class="competence-base flexrow" type="text" name="data.type" value="{{data.type}}" data-dtype="String">
                {{#select data.type}}
                <option value="everyday">Everyday</option>
                <option value="education">Education</option>
                <option value="combat">Combat</option>
                {{/select}}
              </select> 
            </li>
            <li class="flexrow"><label class="generic-label">Default attribute</label>
              <select class="competence-base flexrow" type="text" name="data.defaultattr" value="{{data.defaultattr}}" data-dtype="String">
                {{#select data.defaultattr}}
                <option value="none">None</option>
                <option value="strength">Strength</option>
                <option value="movement">Movement</option>
                <option value="reflexes">Reflexes</option>
                <option value="focus">Focus</option>
                <option value="intelligence">Intelligence</option>
                <option value="willpower">Willpower</option>
                {{/select}}
              </select> 
            </li>
            <li class="flexrow"><label class="generic-label">Trained ?</label>
              <label class="attribute-value checkbox"><input type="checkbox" name="data.trained" {{checked data.trained}}/></label>
            </li>
            <li class="flexrow"><label class="generic-label">Bonus</label>
              <label class="attribute-value checkbox"><input type="text" name="data.bonus" value="{{data.bonus}}" data-dtype="Number"/></label>
            </li>
            <li class="flexrow"><label class="generic-label">Toolkit ?</label>
              <label class="attribute-value checkbox"><input type="checkbox" name="data.toolkit" {{checked data.toolkit}}/></label>
            </li>
            <li class="flexrow"><label class="generic-label">Toolbox ?</label>
              <label class="attribute-value checkbox"><input type="checkbox" name="data.toolbox" {{checked data.toolbox}}/></label>
            </li>
            <li class="flexrow"><label class="generic-label">Workshop ?</label>
              <label class="attribute-value checkbox"><input type="checkbox" name="data.workshop" {{checked data.workshop}}/></label>
            </li>
            <li class="flexrow"><label class="generic-label">Dedicated Workshop ?</label>
              <label class="attribute-value checkbox"><input type="checkbox" name="data.dedicatedworkshop" {{checked data.dedicatedworkshop}}/></label>
            </li>
          </ul>

            {{> "systems/fvtt-fragged-kingdom/templates/skill-traits-section.html"}}
            
          <label class="generic-label">Description</label>
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>
