<div class="post-item" data-transfer="{{transfer}}">
  <h3><b>{{name}}</b></h3>
  {{#if img}}
  <img class="chat-img" src="{{img}}" title="{{name}}" />
  {{/if}}
  
  {{#if (eq type "weapon")}}
    {{#each data.weaponstats as |weaponstat rootkey|}}
    {{#if weaponstat.deleted}}
    {{else}}
      <h4>Stats for {{weaponstat.name}}</h4>
      {{> "systems/fvtt-fragged-kingdom/templates/weapon-stats-section-tchat.html" stats=weaponstat.data.statstotal isfinal=false header=false}} 
    {{/if}}
    {{/each}}
  {{else}}

    {{#if data.statstotal}}
      {{> "systems/fvtt-fragged-kingdom/templates/weapon-stats-section-tchat.html" stats=data.statstotal isfinal=false title="" header=true}}
    {{else}}
      {{#if data.stats}}
      {{> "systems/fvtt-fragged-kingdom/templates/weapon-stats-section-tchat.html" stats=data.stats isfinal=false title="" header=true}}
      {{/if}}
    {{/if}}
  {{/if}}

  <h4><b>Description : </b></h4>
  <p class="card-content">{{{data.description}}}</p>
</div>
