<form class="skill-roll-dialog">
  <h2 class="dialog-roll-title">{{title}}</h2>

  <div class="floxrow">
    <div class="flexrow">
      <span class="competence-base flexrow" >Hit bonus : {{weaponStat.hit.value}}</span>
      <span class="competence-base flexrow" >Dice +/- : {{weaponStat.dice.value}}</span>
    </div>
    
    <div class="flexrow">
      <span class="competence-base flexrow" >Momentum : </span>
      {{#if (eq actorType "character")}}
      <select class="competence-base flexrow" type="text" id="momentum" name="momentum" value="momentumValue" data-dtype="Number">        
        {{#select momentumValue}}
        {{{optionsMomentum}}}
        {{/select}}
      </select> 
      {{else}}
        <input type="text" class="input-numeric-short padd-right" name="momentum" id="momentum" value="0" data-dtype="Number"/>
      {{/if}}
    </div>

    {{#if (eq actorType "npc")}}
    <div class="flexrow">
      <span class="competence-base flexrow">Attacking Bodies : </span>
      <input type="text" class="input-numeric-short padd-right" name="bodies" id="bodies" value="0" data-dtype="Number"/>
    </div>
    {{/if}}

    {{#if (eq actorType "character")}}
    <div class="flexrow">
      <span class="competence-base flexrow" >Skill to use : </span>
      <select class="competence-base flexrow" type="text" id="skillId" name="skillId" value="skillId" data-dtype="String">
        {{#select skillId}}
          {{#each weaponSkills as |skill key|}}
          <option value="{{skill.id}}">{{skill.name}} ({{skill.data.data.total}})</option>
          {{/each}}
        {{/select}}
      </select> 
    </div>
    {{/if}}

    <div class="flexrow">
      <span class="competence-base flexrow" >Bonus/Malus : </span>
      <select class="competence-base flexrow" type="text" id="bonusMalus" name="bonusMalus" value="bonusMalus" data-dtype="Number">
        {{#select bonusMalus}}
        {{{optionsBonusMalus}}}
        {{/select}}
      </select> 
    </div>

    <h3>Stats</h3>
    {{> "systems/fvtt-fragged-kingdom/templates/weapon-stats-section.html" stats=weaponStat isfinal=false title="Final stats reminder" header=true}}

  </div>
  
</form>
